In [13]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import random
import os

from pyspark.sql import SparkSession 
from pyspark.ml  import Pipeline     
from pyspark.sql import SQLContext  
from pyspark.sql.functions import mean,col,split, col, regexp_extract, when, lit
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import QuantileDiscretizer

Matplotlib is building the font cache; this may take a moment.

In [15]:
spark = SparkSession.builder.appName('recommender_system').getOrCreate()

In [14]:
entries = os.listdir('C:\\Users\GUEN999\Desktop\Data engineer\kaggle\dataset')
print(entries)

['gender_submission.csv', 'movie_ratings_df.csv', 'test.csv', 'train.csv']

In [16]:
# load the dataset and create sprk dataframe
df=spark.read.csv('C:\\Users\GUEN999\Desktop\Data engineer\kaggle\dataset\movie_ratings_df.csv',inferSchema=True,header=True)
# Using limit(), or select() or show() to view the data. I often use limit()
# Using toPandas() method to return Pyspark DataFrame as Pandas table
df.limit(3).toPandas()

   userId         title  rating
0     196  Kolya (1996)       3
1      63  Kolya (1996)       3
2     226  Kolya (1996)       5

In [17]:
df.show()

+------+------------+------+
|userId|       title|rating|
+------+------------+------+
|   196|Kolya (1996)|     3|
|    63|Kolya (1996)|     3|
|   226|Kolya (1996)|     5|
|   154|Kolya (1996)|     3|
|   306|Kolya (1996)|     5|
|   296|Kolya (1996)|     4|
|    34|Kolya (1996)|     5|
|   271|Kolya (1996)|     4|
|   201|Kolya (1996)|     4|
|   209|Kolya (1996)|     4|
|    35|Kolya (1996)|     2|
|   354|Kolya (1996)|     5|
|   199|Kolya (1996)|     5|
|   113|Kolya (1996)|     2|
|     1|Kolya (1996)|     5|
|   173|Kolya (1996)|     5|
|   360|Kolya (1996)|     4|
|   234|Kolya (1996)|     4|
|    14|Kolya (1996)|     4|
|   309|Kolya (1996)|     4|
+------+------------+------+
only showing top 20 rows